*{
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App{
  height: 100vh;
  background-image: url('./assets/montain.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

@media(min-width: 642px){

  .App{
    background-image: url('./assets/forest-Desk.jpg');
    max-height: 100vh;
  }   
}